<section class=" container  text-white text-2xl">
	<div class="bg-blue p-10 space-y-3 text-center">
		<div class=" text-3xl">Паршал подключен</div>
		<h2 class=" max-xl:text-red-500 ">Mobile</h2>
		<h2 class=" xl:text-red-500 ">1200px</h2>
		<h2 class=" 2xl:text-red-500 ">1440px</h2>
		<h2 class=" 3xl:text-red-500 ">1680px</h2>
		<h2 class=" 4xl:text-red-500 ">1920px></h2>
	</div>
</section>