@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	font-size: 16px;
}

.btn{
	@apply  px-5 py-5 mb-3 text-lg rounded-lg;
}

.btn--blue{
 @apply text-white bg-blue hover:bg-[#7991E8] transition-colors;
}