@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-grid>*:nth-child(odd):last-child {
    @apply col-span-2;
  }
}

@layer utilities {
  .custom-grid-xxxl>*:nth-child(odd):last-child {
    @apply col-span-3;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


body {
  font-size: 16px;
}

.btn {
  @apply px-5 py-5 mb-3 text-lg rounded-lg;
}

.btn--blue {
  @apply text-white bg-blue hover:bg-[#7991E8] transition-colors;
}