<section class=" bg-blue ">
	<div class="container max-xl:px-4 py-10 max-w-[772px] xl:max-w-[900px] 2xl:max-w-[1060px]">
		<div class=" text-white ">Грузы доступные для перевозки</div>
		<div class=" text-white ">Найдите подходящие парт-карго грузы для вашего судна</div>
		<div class=" bg-[#E6EBEE] rounded-3xl w-full px-5 py-10 space-y-[10px]">
			<div class="grid gap-[10px] grid-cols-1 xl:grid-cols-2">

				<div class="bg-white h-[64px] rounded-[12px] xl:col-span-2">
					Место отправки
				</div>

				<div class="bg-white h-[64px] rounded-[12px] xl:col-span-2">
					Место доставки
				</div>

				<div class="bg-white h-[64px] rounded-[12px]">
					Тип собственности
				</div>

				<div class="bg-white h-[64px] rounded-[12px]">
					Оборудование
				</div>

				<div class="bg-white h-[64px] rounded-[12px]">
					Дата готовности груза
				</div>

				<div class="bg-white h-[64px] rounded-[12px]">
					Рейс
				</div>

			</div>
			<button class="bg-[#4F75FF] text-white rounded-lg w-full border-none p-5 font-semibold">Найти перевозку</button>
		</div>
	</div>
</section>