<div x-data="{ open: false, selected: '{{ name  }}' }" class="relative w-full">

	<!-- Trigger -->
	<button @click="open = !open" class="relative w-full text-[#495057]  text-left bg-white rounded-xl border border-[#E0E7FF] pl-[50px] px-4 py-2 focus:outline-none  h-[64px]">

		<span x-text="selected"></span>
		<svg class=" absolute left-5 top-1/2 -translate-y-1/2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M5 9.92285C5 14.7747 9.24448 18.7869 11.1232 20.3252C11.3921 20.5454 11.5281 20.6568 11.7287 20.7132C11.8849 20.7572 12.1148 20.7572 12.271 20.7132C12.472 20.6567 12.6071 20.5463 12.877 20.3254C14.7557 18.7871 18.9999 14.7751 18.9999 9.9233C18.9999 8.08718 18.2625 6.32605 16.9497 5.02772C15.637 3.72939 13.8566 3 12.0001 3C10.1436 3 8.36301 3.7295 7.05025 5.02783C5.7375 6.32616 5 8.08674 5 9.92285Z" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			<path d="M10 9C10 10.1046 10.8954 11 12 11C13.1046 11 14 10.1046 14 9C14 7.89543 13.1046 7 12 7C10.8954 7 10 7.89543 10 9Z" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
		<svg class="absolute right-5 top-1/2 -translate-y-1/2  w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
		</svg>
	</button>

	<!-- Dropdown -->
	<ul x-show="open" @click.away="open = false" x-transition.duration.100ms style="display: none;"  class="absolute z-10 mt-2 w-full text-[#495057]  text-left bg-white rounded-xl border border-[#E0E7FF] px-4 py-2">
		{% for item in values %}
		<li>
			<button @click="selected = '{{ item }}'; open = false; $refs.hiddenSelect.value = '{{ item }}';" type="button" class="w-full text-left px-4 py-2 hover:bg-blue-100 text-gray-700">{{ item }}</button>
		</li>
		{% endfor %}

	</ul>

	<select name="{{ name  }}" class="sr-only " x-ref="hiddenSelect">
		<option selected value="">{{ name }}</option>
		{% for item in values %}
		<option value="'{{ item }}'"  :selected="selected === '{{ item }}'">{{ item }}</option>
		{% endfor %}
	</select>
</div>