<section class=" bg-blue my-[90px] ">
	<div class="container max-xl:px-4 py-10 max-w-[772px] xl:max-w-[900px] 2xl:max-w-[1060px]">
		<div class=" bg-[#E6EBEE] rounded-3xl w-full px-5 py-10 space-y-[10px]">
			<div class=""> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, non, voluptate laudantium odio nulla at, architecto quisquam ad officiis deleniti repellendus perferendis praesentium. Iusto, perferendis molestiae accusamus eum vitae aliquam.</div>
			<button class="bg-red-500 text-white rounded-lg w-full border-none p-5 font-semibold">Найти перевозку</button>
		</div>
	</div>
</section>

<section class=" container  text-white text-2xl">
	<div class="bg-blue p-10 space-y-3 text-center">
		<h2 class=" max-xl:text-red-500 ">Mobile</h2>
		<h2 class=" xl:text-red-500 ">1200px</h2>
		<h2 class=" 2xl:text-red-500 ">1440px</h2>
		<h2 class=" 3xl:text-red-500 ">1680px</h2>
		<h2 class=" 4xl:text-red-500 ">1920px></h2>
	</div>


</section>