<div x-data="citySearch()" class="relative w-full flex flex-col gap-[10px] xl:col-span-2 " @click.away="open = false">

	<div class=" relative ">
		<input class="w-full text-[#495057] bg-white rounded-xl border border-[#E0E7FF] pl-[50px] px-4 py-2 focus:outline-none  h-16 placeholder:text-[#495057] " x-model="query" x-on:input="filterCities" x-on:focus="showAllCities" x-on:keydown.arrow-down.prevent="highlightNext" x-on:keydown.arrow-up.prevent="highlightPrev" x-on:keydown.enter.prevent="selectCity" id="city-search" type="text" placeholder="Место отправки" autocomplete="off" role="combobox" aria-autocomplete="list" aria-controls="city-listbox" :aria-expanded="open.toString()" aria-haspopup="listbox" aria-activedescendant="activeDescendant" />
		<svg class=" absolute left-5 top-1/2 -translate-y-1/2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M5 9.92285C5 14.7747 9.24448 18.7869 11.1232 20.3252C11.3921 20.5454 11.5281 20.6568 11.7287 20.7132C11.8849 20.7572 12.1148 20.7572 12.271 20.7132C12.472 20.6567 12.6071 20.5463 12.877 20.3254C14.7557 18.7871 18.9999 14.7751 18.9999 9.9233C18.9999 8.08718 18.2625 6.32605 16.9497 5.02772C15.637 3.72939 13.8566 3 12.0001 3C10.1436 3 8.36301 3.7295 7.05025 5.02783C5.7375 6.32616 5 8.08674 5 9.92285Z" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			<path d="M10 9C10 10.1046 10.8954 11 12 11C13.1046 11 14 10.1046 14 9C14 7.89543 13.1046 7 12 7C10.8954 7 10 7.89543 10 9Z" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
	</div>

	{# <div x-show="open" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 h-0" x-transition:enter-end="opacity-100 h-full" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 " x-transition:leave-end="opacity-0 h-0" class="overflow-hidden  bg-white border border-gray-200 rounded-md shadow-inner">
		<ul class="overflow-auto max-h-[320px] " id="city-listbox" role="listbox">
			<template x-for="(city, index) in filtered" :key="index">
				<li @click="selectCityFromList(city)" @mouseenter="highlight = index" :id="'city-option-' + index" role="option" :aria-selected="highlight === index" :class="highlight === index ? 'bg-blue-100 text-blue-800' : 'text-gray-900'" class="cursor-pointer px-4 py-2 hover:bg-blue-50">
					<span x-text="city"></span>
				</li>
			</template>

			<li x-show="filtered.length === 0" class="px-4 py-2 text-gray-500">Нет совпадений</li>
		</ul>
	</div> #}

	<div x-show="open" style="display: none;" x-collapse.duration.100ms class="bg-white w-full rounded-xl  ">
		<div class="px-5 py-5">
			<div class="text-[#495057] mb-[10px]">Выберите город отправки:</div>
			<ul class="overflow-auto max-h-[320px] " id="city-listbox" role="listbox">
				<template x-for="(city, index) in filtered" :key="index">
					<li @click="selectCityFromList(city)" :id="'city-option-' + index" role="option" :aria-selected="highlight === index" class="cursor-pointer px-12  py-2 hover:bg-blue relative text-[#495057] hover:text-white border-[#E6EBEE] hover:border-blue border-b last:border-none group hover:rounded-xl  ">
						<span class=" block" x-text="city"></span>
						<span class=" opacity-60 text-xs ">Россия</span>
						<svg class=" stroke-[#495057] group-hover:stroke-white  absolute left-4 top-1/2 -translate-y-1/2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 9.92285C5 14.7747 9.24448 18.7869 11.1232 20.3252C11.3921 20.5454 11.5281 20.6568 11.7287 20.7132C11.8849 20.7572 12.1148 20.7572 12.271 20.7132C12.472 20.6567 12.6071 20.5463 12.877 20.3254C14.7557 18.7871 18.9999 14.7751 18.9999 9.9233C18.9999 8.08718 18.2625 6.32605 16.9497 5.02772C15.637 3.72939 13.8566 3 12.0001 3C10.1436 3 8.36301 3.7295 7.05025 5.02783C5.7375 6.32616 5 8.08674 5 9.92285Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M10 9C10 10.1046 10.8954 11 12 11C13.1046 11 14 10.1046 14 9C14 7.89543 13.1046 7 12 7C10.8954 7 10 7.89543 10 9Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</li>
				</template>
			</ul>
		</div>
	</div>
</div>