<section class="container max-xl:px-4 xl:max-w-[900px] 2xl:max-w-[1100px] 3xl:max-w-[1200px]">
	<h2 class="font-semibold text-center text-[#495057] text-[32px] xl:text-[40px] max-xl:mb-5 mb-[35px] max-xl:leading-[118%]">Поиск и поставка товаров</h2>
	<div class="grid gap-[10px] xl:gap-5 xl:grid-cols-2 *:rounded-[20px] ">
		<div class="px-5 max-xl:pt-5 pt-10 max-xl:pb-5 max-2xl:pb-10 pb-[67px] text-white bg-blue max-xl:space-y-[10px] space-y-[20px] xl:space-y-[4px] 3xl:space-y-[30px]">
			<h3 class=" max-xl:text-lg text-2xl  font-semibold max-xl:mb-5 mb-[30px] leading-[118%]">Скорость и надежность</h3>
			<p class="text-[20px] max-xl:text-base !leading-[118%] ">Мы берём на себя полный цикл работы с поставками: от анализа ваших потребностей до доставки готового товара на склад. Вы описываете, что нужно — мы находим, проверяем и привозим.</p>
			<p class="text-[20px] max-xl:text-base !leading-[118%] ">Работаем напрямую с производителями и проверенными поставщиками в России, Китае и других странах. Проводим анализ рынка, проверяем документы, ведем переговоры и контролируем процесс на всех этапах.</p>
			<p class="text-[20px] max-xl:text-base !leading-[118%] ">Мы оформляем всю необходимую документацию, следим за логистикой и решаем возможные проблемы ещё до того, как они повлияют на результат. Вам не нужно вникать в детали — вы получаете готовый товар, точно в срок и без лишних затрат.</p>
		</div>
		<div class="bg-[#EFF3F8] px-4 pb-[59px] max-xl:pb-[20px] pt-10 max-xl:pt-5 flex flex-col items-center">
			<img class="max-xl:max-w-[269px] max-w-[296px] mb-[28px]" src="/assets/images/service/shipping_2.svg" alt="">
			<div class=" text-[#495057] text-center font-semibold text-[22px] xl:text-[29px]  mb-[4px] ">Логистика без забот</div>
			<div class=" text-[#495057] text-center mb-[28px] text-base xl:text-xl">От заказа до получения –– с нами просто</div>
			<button class="w-full mx-1 btn btn--blue leading-[118%] !py-[18px]">Оставить заявку</button>
		</div>
	</div>
</section>

