<section class="container mt-20 max-xl:mt-10">
	<div class="text-center text-[#495057] max-xl:text-[38px] text-[40px] font-semibold mb-5 xl:mb-10">Всё, что нужно для стабильных поставок –– в одной слуге</div>
	<div class="xl:p-[60px] max-xl:space-y-[10px] space-y-[20px] xl:bg-[#EFF3F8] xl:border xl:border-[#E6EBEE] xl:rounded-[20px]">
		<p class="font-semibold text-[#495057] text-[22px] max-xl:text-base">Поиск и поставка товаров — это сложный, многоуровневый процесс, который требует не только отличного знания рынка, но и выстроенной системы, налаженных контактов и точного контроля на каждом этапе. Мы берём эту задачу на себя, чтобы вы могли сосредоточиться на развитии своего бизнеса, не отвлекаясь на логистические тонкости.</p>
		<p class="text-[#495057] text-[22px] max-xl:text-base">Всё начинается с глубокого анализа потребностей. Мы выясняем, какие именно товары вам нужны, в каком количестве, с какими характеристиками, на какой бюджет вы рассчитываете и в какие сроки необходимо получить груз. Наши менеджеры детально прорабатывают ваш запрос, чтобы понимать задачу не формально, а по-настоящему точно.</p>
		<p class="text-[#495057] text-[22px] max-xl:text-base">Далее начинается поиск поставщиков. Мы подбираем и сравниваем предложения от надёжных компаний — как российских, так и зарубежных. Мы проверяем репутацию, изучаем отзывы, запрашиваем образцы, анализируем условия сотрудничества, логистику и стоимость. После этого предлагаем вам только те варианты, которые соответствуют всем вашим требованиям.</p>
		<p class="text-[#495057] text-[22px] max-xl:text-base">Наша команда ведёт переговоры, согласовывает условия поставки, контролирует упаковку, оформление документов, таможенное оформление и доставку. Вы всегда в курсе происходящего, но не тратите на это своё время. Мы берём ответственность за результат — от первого контакта с поставщиком до момента, когда груз окажется у вас на складе.</p>
		<p class="text-[#495057] text-[22px] max-xl:text-base">Мы работаем прозрачно: фиксированная стоимость, чёткие сроки, подробные отчёты. Все этапы понятны и контролируемы, а вы получаете документы, гарантирующие юридическую чистоту сделки.</p>
		<p class="font-semibold text-[#495057] text-[22px] max-xl:text-base">В результате вы получаете не просто доставку товара. Вы получаете полный контроль над логистикой без погружения в рутину, снижение рисков, экономию времени и уверенность в каждом шаге процесса. Это решение, с которым проще, надёжнее и эффективнее.</p>
	</div>
	<button class="font-medium text-blue xl:hidden">Читать полностью</button>
	<button class="font-medium text-blue xl:hidden">Скрыть</button>
</section>