---
title: Рабочий файл Сережи
layout: main.njk
---
<section class="min-h-screen flex flex-col justify-center items-center bg-gray-100">
  <h1 class="text-5xl font-bold mb-4 text-blue-600">Привет!</h1>
  <p class="text-gray-700 text-lg">Минимальный рабочий файл.</p>
</section>
{% include "src/sergey/test.njk" %}