---
title: Услуга
layout: main.njk
---
{% include "src/sections/service/intro.njk" %}
{% include "src/sections/service/one.njk" %}
{% include "src/sections/service/who.njk" %}

<section class=" container 2xl:max-w-[900px] mt-10 xl:mt-20 max-xl:px-4 xl:max-w-[740px]">
	<div class=" font-semibold text-[30px] xl:text-[40px] mb-5 text-[#495057] !leading-[118%]">Оставьте заявку –– мы подберем оптимальное решение</div>
	{% include "src/sections/layouts/form.njk" %}

</section>