<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ title or "Default Title" }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="/assets/fonts/font.css" />
	<link rel="stylesheet" href="/styles/output.css" />
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
	<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<script type="module" src="/assets/js/main.js"></script>
</head>

<body class="">
	{% include "src/sections/layouts/header.njk" %}
	<main class="pt-[87px]">
		{{ content | safe }}
	</main>
	{% include "src/sections/layouts/footer.njk" %}
</body>

</html>